<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846713493069-3vkljao9kubn9e5r99kbah7d1e70e4hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846713493069-3vkljao9kubn9e5r99kbah7d1e70e4hd</string>
	<key>API_KEY</key>
	<string>AIzaSyC80BPPVwhFE_uIpHkppyITzr74PmD3KmY</string>
	<key>GCM_SENDER_ID</key>
	<string>846713493069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.academiadoflutter.todoListProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-list-provider-1fd54</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-provider-1fd54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846713493069:ios:d1802f4b947f0b65e56e04</string>
</dict>
</plist>